github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire" ~> 3.0

post_install do |installer_representation|
puts "Splitting up Gooogle Framework - It's just too big to be presented in the Github :("
Dir.chdir("Pods/GoogleMaps/Frameworks/GoogleMaps.framework/Versions/Current") do
# Remove previous split files if any
`rm GoogleMaps_Split_*`
# Split current framework into smaller parts
`split -b 30m GoogleMaps GoogleMaps_Split_`
end
end